
<div class="movie">
	
	<h1 class="title"><%= @title %></h1>	
	<img class="poster" src="<%= @poster %>">
	
	<div class="details">
	<p>YEAR: <%= @year %></p>
	<p>RUNTIME: <%= @runtime %></p>
	<p>LANGUAGE: <%= @language %></p>
	<p>COUNTRY: <%= @country %></p>
	<p>GENRE: <%= @genre %></p>
	<p>IMDB RATING: <%= @rating %></p>
	<p class="plot">PLOT: <%= @plot %></p>
	</div>
</div>